Package: psp-library
Version: ${project.version}
Section: misc
Maintainer: Andoni del Olmo <andoni.delolmo@gmail.com>
Priority: optional
Architecture: amd64
Depends: ciso
Provides: psp-library
Description: Organize your PSP games library and connect it with your PSP console
